<nav class="navbar navbar-expand-md bg-primary-subtle sticky-top">
  <div class="container">
    <span class="navbar-brand">
      <i class="ri-bank-fill me-3 fs-4"></i>Expenses
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto nav-underline">
        <li class="nav-item">
          <a class="nav-link" routerLink="/overview" routerLinkActive="active"
            >Overview</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/income" routerLinkActive="active"
            >Income</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expenses" routerLinkActive="active"
            >Expenses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/investments"
            routerLinkActive="active"
            >Investments</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/subscriptions"
            routerLinkActive="active"
            >Subscriptions</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
