<div class="container pb-6 my-4">
  <header class="d-flex justify-content-between align-items-center">
    <span class="fs-2 fw-bold me-auto">Overview</span>
    <span
      ><a class="btn btn-primary" [routerLink]="['/expenses', 'addExpense']"
        >Add Expense</a
      ></span
    >
  </header>
  <hr />
  <ng-container *ngIf="report$ | async"></ng-container>
  <div class="row row-gap-3 row-gap-md-4 mt-3 mt-md-4">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-5 col-md-3 col-lg-2"><h2>Summary</h2></div>
        <div class="col-auto flex-grow-1">
          <select
            class="form-select border-2 border-primary"
            [formControl]="reportControl"
          >
            <option value="today">Today</option>
            <option value="7days">Last 7 Days</option>
            <option value="30days">Last 30 Days</option>
            <option value="currentMonth">Month to date</option>
            <option value="currentYear">Year to date</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card main-shadow rounded-1 text-bg-secondary">
        <div class="card-body text-center">
          <h6 class="card-title text-uppercase">Total Income</h6>
          <h2 *ngIf="reportDetails; else loadingTemplate">
            {{ reportDetails.totalIncomeAmount | currency: "INR" }}
          </h2>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card main-shadow rounded-1 text-bg-secondary">
        <div class="card-body text-center">
          <h6
            class="card-title text-uppercase"
            title="= Total Income - Total Spent - Total Subscriptions"
          >
            Available Balance
          </h6>
          <h2 *ngIf="reportDetails; else loadingTemplate">
            {{ reportDetails.totalAvailableAmount | currency: "INR" }}
          </h2>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card main-shadow rounded-1 text-bg-secondary">
        <div class="card-body text-center">
          <h6 class="card-title text-uppercase">Total Spent</h6>
          <h2 *ngIf="reportDetails; else loadingTemplate">
            {{ reportDetails.totalSpentAmount | currency: "INR" }}
          </h2>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card main-shadow rounded-1 text-bg-secondary">
        <div class="card-body text-center">
          <h6 class="card-title text-uppercase">Total Subscriptions</h6>
          <h2 *ngIf="reportDetails; else loadingTemplate">
            {{ reportDetails.totalSubscriptionAmount | currency: "INR" }}
          </h2>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row row-gap-3 row-gap-md-4 justify-content-center">
        <div class="col-12">
          <canvasjs-chart
            class="shadow-sm"
            [options]="chartOptions"
            (chartInstance)="getChartInstance($event)"
          ></canvasjs-chart>
        </div>
        <!-- <div class="col-12 col-lg-6">
          <canvasjs-chart
            class="shadow-sm"
            [options]="chartOptions"
          ></canvasjs-chart>
        </div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
