<app-navbar></app-navbar>
<!-- TRIED FOR A PROGRESS BAR ON NAVIGATION CHANGE, BUT SOMEHOW IT IS NOT WORKING -->
<!-- <div
  class="progress rounded-0 w-100 position-fixed top-0 start-0"
  role="progressbar"
  aria-valuemin="0"
  aria-valuemax="100"
  [style.height.px]="5"
  [style.z-index]="1021"
>
  <div
    class="progress-bar progress-bar-striped progress-bar-animated"
    style="width: 100%"
  ></div>
</div> -->
<ng-container *ngIf="user$ | async as user; else unauthorized">
  <div
    class="position-fixed bottom-0 d-block w-100 text-center text-bg-warning z-3"
  >
    You are signed in as
    {{ user?.isAnonymous ? "Anonymous, Sign in with " : user?.email }}
    <button
      class="btn-link py-0 btn ps-1"
      *ngIf="user?.isAnonymous"
      (click)="signInWithGoogle()"
    >
      Google ?
    </button>
  </div>
</ng-container>
<ng-template #unauthorized>
  <div
    class="position-fixed bottom-0 d-block w-100 text-center text-bg-warning z-3"
  >
    Unauthorized
  </div>
</ng-template>

<router-outlet></router-outlet>
<app-toast></app-toast>
