<div class="container-md py-3">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item me-auto" role="presentation">
      <a
        class="nav-link text-bg-dark bg-gradient"
        routerLink="overview"
        style="letter-spacing: 0.2rem"
        >Track Your Expense</a
      >
    </li>
    <li class="nav-item" role="presentation" *ngFor="let config of navConfig">
      <a
        class="nav-link"
        data-bs-toggle="tab"
        aria-selected="true"
        role="tab"
        routerLink="{{ config.link }}"
        routerLinkActive="active"
        >{{ config.text }}</a
      >
    </li>
  </ul>
  <div class="tab-content py-3">
    <router-outlet></router-outlet>
  </div>
</div>
