<div class="container my-4 my-md-5">
  <div class="row">
    <div class="col-12 col-md-11 col-lg-9 mx-auto">
      <div class="card shadow-sm border-dark">
        <h2 class="card-header">
          <ng-content select="[addUpdateHeading]"></ng-content>
        </h2>
        <div class="card-body">
          <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
            <div class="row row-cols-2 row-gap-3">
              <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  aria-describedby="Expense name"
                  placeholder="Burger King - Burgers"
                  formControlName="name"
                />
                <div
                  class="invalid-feedback d-block"
                  *ngIf="name?.touched && name?.invalid"
                >
                  Please provide a valid name.
                </div>
              </div>
              <div class="col-12 col-md-6">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                  <span class="input-group-text">₹</span>
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    aria-describedby="Total cost of Expense"
                    placeholder="228.34"
                    formControlName="price"
                  />
                  <div
                    class="invalid-feedback d-block"
                    *ngIf="
                      price?.touched &&
                      price?.invalid &&
                      price?.hasError('required')
                    "
                  >
                    Please enter a valid price.
                  </div>
                  <div
                    class="invalid-feedback d-block"
                    *ngIf="
                      price?.touched && price?.invalid && price?.hasError('min')
                    "
                  >
                    Price cannot be 0.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <label for="spent-date" class="form-label">Spent Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="spent-date"
                  aria-describedby="Date of the transaction"
                  formControlName="spentDate"
                />
                <div
                  class="invalid-feedback d-block"
                  *ngIf="spentDate?.touched && spentDate?.invalid"
                >
                  Please enter a valid date.
                </div>
              </div>
              <div class="col-12 col-md-6">
                <label for="category" class="form-label">Category</label>
                <select
                  id="category"
                  class="form-select"
                  formControlName="category"
                >
                  <optgroup label="Essentials">
                    <option value="food" selected>Food</option>
                    <option value="grocery">Grocery</option>
                    <option value="medical">Medical</option>
                  </optgroup>
                  <optgroup label="Expenses">
                    <option value="bills">Bills</option>
                    <option value="education">Education</option>
                    <option value="order">Online Order</option>
                    <option value="rent">Rent</option>
                  </optgroup>
                  <optgroup label="Leisure">
                    <option value="entertainment">Entertainment</option>
                    <option value="shopping">Shopping</option>
                    <option value="travel">Travel</option>
                    <option value="sports">Sports</option>
                  </optgroup>
                  <optgroup label="Payments">
                    <option value="emi">EMI</option>
                    <option value="savings">Savings</option>
                    <option value="debt">Debt</option>
                    <option value="loan">Loan</option>
                  </optgroup>
                  <option value="other">Others</option>
                </select>
              </div>
              <div class="col-12 col-md-6">
                <label for="paid" class="form-label">Paid Via</label>
                <select id="paid" class="form-select" formControlName="paidVia">
                  <option value="cash">Cash</option>
                  <option value="creditcard">Credit Card</option>
                  <option value="debitcard">Debit Card</option>
                  <option value="ewallet">E-Wallet</option>
                  <option value="netbanking">NetBanking</option>
                  <option value="upi">UPI</option>
                </select>
              </div>
              <div class="col-12">
                <label for="notes" class="form-label"
                  >Notes
                  <span class="small text-muted">(Optional)</span>
                </label>
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="notes"
                  rows="3"
                  formControlName="notes"
                  maxlength="150"
                ></textarea>
              </div>
            </div>
            <ng-content select="fieldset"></ng-content>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
